/.metadata/
CS2-Support/.classpath
CS2-Support/.project
CS2-Support/acm.jar
CS2-Support/bsh.jar
CS2-Support/BTtracker.jar
CS2-Support/commons-codec-1.3.jar
CS2-Support/exception-doctor_1.0.6.jar
CS2-Support/gnu-regexp-1.1.0.jar
CS2-Support/javazoom.jar
CS2-Support/jdom.jar
CS2-Support/jgraph.jar
*.jar
CS2DataStructuresLib/.classpath
CS2DataStructuresLib/.project
CS2DataStructuresLib/.settings/org.eclipse.jdt.core.prefs
CS2GraphWindowLib/.classpath
CS2GraphWindowLib/.project
CS2GraphWindowLib/.settings/org.eclipse.jdt.core.prefs
